.center-flex {
    display flex
    justify-content: center
    align-items: center
}
c1=#fff;
cg=#47bfa7
cr=#ff2f61

blue1=#29b9ff
blue2=#2196f8
tipsbg=#2097fa
tipsShadow=#1a7bf3
depbg=#34304e
depbg1=#232134
yellow=#f8d500
input1=#5c5c5c
bg1=#d23947
bg2=#493433
bg3=#f0f0f5
bg4=#ff762b
gold1=#ffe3bc
border1=#dde0e3
color1=#646464
color3=#b7b7b7

f3=13px
f2=16px
f4=12px